* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

/*-----------------Section--header--------------*/

header {
    color: white;
    position: fixed;
    display: flex;
    align-items: baseline;
    gap: 930px;
    padding-top: 40px;
}

.header--name {
    padding-left: 25px;
}

nav a {
    color: white;
    font-size: 24px;
    font-weight: bolder;
    padding-left: 10px;
    text-decoration: none;

}

/*-----------------Section--book--------------*/
.boek {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.img--boek {
    padding-top: 100px;
    padding-right: 150px;
}

.quote--boek {
    color: red;
    font-size: 25px;
    font-weight: bold;
    padding-left: 100px;
}

.boek-info {
    color: red;
    font-size: 22px;
    text-align: center;
    margin-top: 50px;
}

/*-----------------Section--podcast--------------*/

/* Podcast info */

.podcast {
    margin-top: 100px;
    color: red;
    font-size: 25px;
    display: flex;
    gap: 250px;
}

.img--podcast {
    padding-left: 100px;
}

.podcast-info{
    padding-top: 100px;
}

.quote--podcast {
    font-weight: bolder;
}

.name--quote {
    font-size: 20px;
    font-weight: bolder;
}

/* Gast podcast */

.podcast--gast{
    display: flex;
    gap: 300px;
}


.podcast--gast--tekst {
    color: red;
    font-size: 23px;
    margin-left: 100px;
    padding-top: 150px;
}

.Janine {
    width: 204px;
    padding-top: 100px;
}

.luister--capo {
    color: red;
    font-size: 30px;
    font-weight: bolder;
}

button {
    border: none;
    background: none;
}

/* buttons van janine */

.button--Janine {
    display: inline-block;
    padding: 20px;
    width: 164px;
    cursor: pointer;
    font-size: 18;
    font-weight: bolder;
}

.soundcloud {
    background-color: white;
    color: black;
}

.spotify {
    background-color: white;
    color: black;
}

.soundcloud:hover {
    background-color: black;
    color: white;
}

.spotify:hover {
    background-color: black;
    color: white;
}

/* Andere podcast met meer gasten */

.podcast--2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 85px;
}

.per-capi {
    color: red;
    font-size: 25px;
    margin-top: 25px;
    text-align: center;
}

.gasten--capi {
    text-align: center;
    margin-top: 100px;
    color: red;
    font-weight: bolder;
    font-size: 35px;
}

.subtitle--podcast {
    color: red;
    text-align: center;
}

.ruimte{
    margin-top: 50px;
}

.nick--name {
    text-align: left;
    padding-left: 30px;
    color: white;
}

.springcast--button {
    display: block;
    padding: 20px;
    width: 150px;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
    font-weight: bolder;
}

.springcast {
    color: black;
    background-color: white;
    margin-left: 75px;
}

.springcast:hover {
    color: white;
    background-color: black;
}

.podcast--gasten--img1 {
    margin-left: 130px;
}

/*section presentation and workshop*/

.titel--pw {
    text-align: center;
    color: red;
    font-size: 48px;
}

.begin--pw {
    text-align: center;
    color: white;
    font-size: 22px;
}

/* Presentation */

.presentation{
    margin-top: 75px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.img--presentation {
    width: 505px;
}

.tekst--rood {
    color: red;
    padding-top: 65px;
    font-size: 21px;
}

.tekst--presentatie {
    color: white;
    font-size: 21px;
}

.click {
    color: red;
    text-decoration: none;
}

.tekst--groter {
    font-size: 24px;
    font-weight: bold;
}

/* Workshop */

.workshop{
    display: flex;
    justify-content: center; 
    gap: 50px;
}

.img--workshop {
    width: 505px;
}

.tekst--workshop {
    color: white;
    font-size: 21px;
}
/*Over mij */

.over--mij {
    margin-top: 150px;
}

.Wie--ben--ik {
    padding-left: 300px;
    display: inline-block;
}

.jan-joost-over-img {
    width: 375px;
    display: inline-block;
    margin-left: 50px;
}

.Wie--is {
    color: red;
    font-weight: bolder;
    font-size: 30px;
}

.dikgedrukt--over {
    color: white;
    font-weight: bolder;
    font-size: 25px;
    ;
}

.ik-ben {
    color: white;
    font-size: 21px;
    display: inline;
}

/*contact*/

.icons {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.icons {
    color: white;
    font-size: 65px;
}

.info {
    display: flex;
    justify-content: space-around;
    color: red;
    font-size: 30px;
}

/* Footer */

.copyright {
    background-color: red;
    color: black;
    font-weight: bolder;
    text-align: center;
    display: block;
    text-align: center;
    font-size: 20px;
}