* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/*-------------------header--------------*/

header {
    color: white;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: white;
    font-size: 22px;
    font-weight: bolder;
    padding: 10px;
    text-decoration: none;
}

/*-------------------boek--------------*/
.boek {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.quote--boek {
    color: red;
    font-size: 25px;
    font-weight: bold;
}

.boek-info {
    color: red;
    font-size: 22px;
    text-align: center;
    margin-top: 50px;
}

/*-------------------podcast--------------*/

/* Van Capo tot ceo -- podcast*/

.podcast {
    color: red;
    font-size: 25px;
}

.quote--podcast {
    font-weight: bolder;
}

.name--quote {
    font-size: 20px;
    font-weight: bolder;
}

.podcast--gast--tekst {
    color: red;
    font-size: 23px;
    padding-top: 150px;
}

.Janine {
    width: 204px;
    padding-top: 50px;
}

.luister--capo {
    color: red;
    font-size: 30px;
    font-weight: bolder;
}

/* buttons van janine */

button {
    border: none;
    background: none;
}

.button--Janine {
    display: inline-block;
    padding: 20px;
    width: 164px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bolder;
}

.soundcloud {
    background-color: white;
    color: black;
}

.spotify {
    background-color: white;
    color: black;
}

.soundcloud:hover {
    background-color: black;
    color: white;
}

.spotify:hover {
    background-color: black;
    color: white;
}

/*-------------------Per Capi--------------*/

.per-capi-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.per-capi {
    color: red;
    font-size: 25px;
    margin-top: 25px;
    text-align: center;
}

.gasten--capi {
    text-align: center;
    margin-top: 100px;
    color: white;
    font-weight: bolder;
    font-size: 35px;
}

.subtitle--podcast {
    color: red;
    text-align: center;
}

.springcast--button {
    display: block;
    padding: 20px;
    width: 150px;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
    font-weight: bolder;
}

.springcast {
    color: black;
    background-color: white;
}

.springcast:hover {
    color: white;
    background-color: black;
}

/*-------------------Presentation and workshop--------------*/

.titel--pw {
    text-align: center;
    color: red;
    font-size: 48px;
}

.begin--pw {
    text-align: center;
    color: red;
    font-size: 22px;
}

/*-------------------Presentation--------------*/

.tekst--rood {
    color: red;
    font-size: 21px;
}

.tekst--presentatie {
    color: white;
}

.click {
    color: red;
    text-decoration: none;
}

.tekst--groter {
    font-size: 24px;
    font-weight: bold;
}

/*-------------------Workshop--------------*/

.tekst--workshop {
    color: white;
    font-size: 21px;
}

/*-------------------Over mij--------------*/

.over--mij {
    margin-top: 50px;
}

.wie--is {
    color: red;
    font-weight: bolder;
    font-size: 30px;
}

.dikgedrukt--over {
    color: white;
    font-weight: bolder;
    font-size: 25px;
}

.ik-ben {
    color: white;
    font-size: 21px;
    display: inline;
}

/*contact*/

.icons {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.icons {
    color: white;
    font-size: 65px;
}

.info {
    display: flex;
    justify-content: space-around;
    color: red;
    font-size: 30px;
}

/* Footer */

.copyright {
    background-color: red;
    color: black;
    font-weight: bolder;
    text-align: center;
    display: block;
    text-align: center;
    font-size: 20px;
}

@media only screen and (max-width: 428px) {
    p {
        text-align: center;
        font-size: 5vw;
    }

    h2 {
        font-size: 10vw;
    }

    img {
        width: 100%;
        height: auto;
    }

    /*-------------------Header--------------*/

    header {
        position: absolute;
        display: inline;
        text-align: center;
    }

    .header--name {
        font-size: 10vw;
    }

    nav {
        margin-top: 10px;
    }

    /*-------------------Boek--------------*/

    .boek {
        display: block;
        padding-top: 200px;
    }

    .img--boek {
        padding-top: 50px;
    }

    /*-------------------Van Capo tot Ceo -- podcast--------------*/

    .button--align {
        text-align: center;
    }

    /*-------------------Per Capi--------------*/

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
        text-align: center;
    }

    .springcast--button {
        margin: auto;
    }

    /*-------------------Presentation and workshop--------------*/

    .img--workshop {
        padding-top: 50px;
    }

    /*-------------------Over mij--------------*/

    .jan-joost-over-img {
        padding-top: 50px;
    }

    .wie--is {
        text-align: center;
    }

    /*-------------------Contact--------------*/

    .icons {
        display: block;
        margin: auto;
    }
}

@media only screen and (min-width: 429px) and (max-width: 768px) {



    img {
        width: 100%;
        height: auto;
    }

    /*-------------------Header--------------*/

    header {
        display: inline;
        text-align: center;
        width: 100%;
    }

    /*-------------------Boek--------------*/

    .boek {
        padding-top: 100px;
    }

    .img--boek {
        width: 335px;
    }

    .quote--boek {
        padding-left: 15px;
    }

    /*-------------------Van Capo tot Ceo -- podcast--------------*/

    .img--podcast {
        width: 75%;
        padding-left: 12px;
    }

    .podcast {
        text-align: center;
    }

    .podcast--gast--tekst {
        text-align: center;
    }

    .button--align {
        margin-left: 282px;
    }

    /*-------------------Presentation and workshop--------------*/

    /*-------------------Presentation--------------*/

    .presentation {
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }

    .img--presentation {
        width: 384px;

    }

    /*-------------------Workshop--------------*/

    .workshop {
        display: flex;
        justify-content: center;
    }

    .img--workshop {
        width: 384px;
        height: 300px;
    }

    /*-------------------Over mij--------------*/

    .jan-joost-over-img {
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .over--mij {
        text-align: center;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

    img {
        width: 100%;
        height: auto;
    }

    /*-------------------Header--------------*/

    header {
        position: fixed;
    }



    /*-------------------Boek--------------*/

    .boek {
        padding-top: 100px;
    }

    .img--boek {
        width: 450px;
        padding-right: 30px;
    }

    .quote--boek {
        padding-left: 20px;
    }

    /*-------------------Van Capo tot Ceo -- podcast--------------*/

    .podcast {
        margin-top: 50px;
        display: flex;
    }

    .img--podcast {
        width: 45%;
        padding: 20px;
        object-fit: contain;
    }

    .podcast--gast--tekst {
        text-align: center;
    }

    .button--align {
        margin-left: 400px;
    }


    /*-------------------Per Capi--------------*/

    .springcast {
        margin-left: 55px;
    }

    /*-------------------Presentation and workshop--------------*/

    .tekst--rood {
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 25px;
    }

    /*-------------------Presentation--------------*/

    .presentation {
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }

    .img--presentation {
        width: 475px;
        padding-left: 25px;
    }

    /*-------------------Workshop--------------*/

    .workshop {
        display: flex;
        justify-content: center;
    }

    .img--workshop {
        width: 475px;
        padding-right: 25px;

    }

    /*-------------------Over mij--------------*/

    .over--mij {
        display: flex;
        flex-direction: row-reverse;
    }

    .jan-joost-over-img {
        width: 45%;
        object-fit: contain;
    }

}

@media only screen and (min-width: 1025px) {

    /*-------------------Boek--------------*/

    .boek {
        padding-top: 100px;
    }

    .img--boek {
        width: 500px;
        padding-right: 50px;
    }

    .quote--boek {
        padding-left: 20px;
    }

    /*-------------------Van Capo tot Ceo -- podcast--------------*/

    .podcast {
        display: flex;
        margin-top: 50px;
        gap: 50px;
    }

    .img--podcast {
        padding-left: 75px;
    }


    .podcast--gast {
        display: flex;
        gap: 250px;
    }

    .podcast--gast--tekst {
        padding-left: 75px;
    }

    /*-------------------Per Capi--------------*/

    .percapi--gast,
    .percapi--gast1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .podcast--gasten--img {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px;
    }

    /*----------------------------------Presentatie en workshop----------------------------------*/

    /*-------------------Presentation--------------*/
    
.presentation{
    margin-top: 50px;
}

    .presentation,
    .workshop {
        display: flex;
        justify-content: center;
        gap: 50px;
    }
    
    .tekst--rood,
    .tekst--workshop {
        width: 25%;
        text-align: left;
    }
    
    .img--presentation,
    .img--workshop {
        width: 505px;
    }

    /*-------------------Over mij--------------*/
    .over--mij{
        display: flex;
        justify-content: center;
        gap: 100px;
    }

}